# Игнорировать все файлы с расширением .log
*.log

# Игнорировать все файлы с расширением .db
*.db

# Игнорировать все файлы с расширением .exe
*.exe

# Игнорировать все файлы с названием sqlite
*sqlite*